.highlighted {
    color: red;
}

.input {
    font-size: 25px;
    padding: 10px;
    background: transparent;
    border: 2px solid #333;
    position: absolute;
}

#angular-autocomplete {
    font-family: 'monospace';
    min-height: 70px;
    float: left;
    width: 100%;
}

#angular-autocomplete #angular-typehead-results {
    padding: 0px;
    list-style: none;
    margin-top: 70px;
}

#angular-typehead-search-box {
    z-index: 11;
}

#angular-typehead-autocomplete-term {
    z-index: 10;
    color: #bdc3c7;
}

#pre-term {
    z-index: 12;
    background-color: #fff;
}
